<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59155295592-79nr1hpb1bsl57cc2gn235r0r68ir08q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59155295592-79nr1hpb1bsl57cc2gn235r0r68ir08q</string>
	<key>API_KEY</key>
	<string>AIzaSyB3M6BQweYEyqubLBNo9ATlwoSI9Sf1mu4</string>
	<key>GCM_SENDER_ID</key>
	<string>59155295592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stevenbrooks.food-delivery</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-807f3</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-807f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59155295592:ios:ee8306fdf69a78a840fadd</string>
	<key>DATABASE_URL</key>
	<string>https://food-delivery-807f3.firebaseio.com</string>
</dict>
</plist>